.container {
    
    .courseCard {
        display: flex;
        gap: 24px;
        // align-items: baseline;
        margin-bottom: 30px;
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(21px);
        border-radius: 8px;
    
        .imageCourse {
            width: 170px;
            height: 140px;
            border: 1px solid #837979;
            border-radius: 12px;
        }

        .child {
            flex-grow: 1;
        }
        
        .childThree {
            flex-grow: 3;
        }

        .tier {
            width: 60px;
            align-self: center;
            .badge {
                padding: 8px;
            }
        }
    }
}