.wrapper {
    height: 100vh;
    // height: 100%;
    // margin-top: -30px;
    background-image: url('../../assets/images/instructorPageBackground.jfif');
    // padding-top: 12px;

    .headerContainer {
        margin-bottom: 16px;
    }
    .bodyContainer {
        display: flex;
        // height: fit-content;
    }
}
