.wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    .topTitle {
        display: flex;

        .courseTitle {
            margin-right: 16px;
        }

        .lessonTitle {
            margin-left: 16px;
        }
    }
}
